.cover-container {
  max-width: 42em;
}
.cover {
  padding: 0 1.5rem;
}
.masthead {
  margin-bottom: 2rem;
}
html,
body {
  height: 100%;
  background-color: #333;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
figcaption {
  /* font-family: 'Architects Daughter', cursive; */
  font-size: 18px;
  text-align: center;
}
#about figcaption {
  /* font-family: 'Architects Daughter', cursive; */
  font-size: 18px;
  text-align: center;
}
h1 {
  /* font-family: Century Gothic, sans-serif; */
  font-weight: normal;
  font-size: 36px;
  text-align: left;
}
h2 {
  color: FireBrick;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 32px;
  font-weight: normal;
  padding: 20px 10px;
  border: 3px solid white;
  border-radius: 15px;
  text-transform: uppercase;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  /*font-family: 'Ubuntu Mono', monospace;*/
  /* font-family: Century Gothic, sans-serif; */
  font-size: 20px;
  line-height: 1.4;
  min-width: 400px;
  max-width: 800px;
}
span {
  /* font-family: Century Gothic, sans-serif; */
  font-size: 20px;
  line-height: 1.4;
}
ul {
  /* font-family: Century Gothic, sans-serif; */
  font-size: 20px;
  line-height: 1.4;
  list-style: square;
  padding-left: 60px;
}
/*"Welcome to Al's World"*/
h1.byline {
  border-bottom: 2px solid LightGrey;
  border-top: 2px solid LightGrey;
  color: purple;
  font-family: 'Raleway', sans-serif;
  /*font-family: Century Gothic, sans-serif;*/
  font-weight: normal;
  font-size: 50px;
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
  text-transform: uppercase;

}
.capitalize {
  text-transform: capitalize;
}
/*from first section header and on..*/
.content {
  padding: 40px;
  text-align: left;
  width: 70%;
  margin-left: 30px;
  margin-right: 30px;
}
.cursive {
  font-family: cursive;
}
.external-link a, .external-link a:visited {
  color: DarkGreen;
}
.publish-time {
  color: gray;
}
/*Favorite quotes on 'Interests'*/
.quotes p {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  font-weight: bold;
  margin-left: 5%;
  text-align: left;
  min-width: 500px;
  max-width: 800px;
}
.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#music {
  padding: 40px;
}
#nav {
  text-align: center;
  width: 100%;
}
#nav a, #nav a:visited {
  color: purple;
  background: SkyBlue;
  border: 1px solid SkyBlue;
  border-radius: 3px;
  display: inline-block;
  font-family: Century Gothic, sans-serif;
  font-size: 20px;
  margin: 10px;
  padding: 14px;
  position: relative;
  text-decoration: none;
}
#nav a:hover {
  background: purple;
  color: SkyBlue;
}
/*Stevie quote on 'Interests'*/
#quote {
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1.5px purple;
}
/*ul of tv shows*/
#tv {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
}
