.cover-container {
  max-width: 42em;
}
/* main {
  max-width: 42em;
} */
html, body {
  height: 100%;
  background-color: dodgerblue;
}
header {
  margin-bottom: 3em;
}
h1 {
  color:whitesmoke;
}


.navbar {
  margin-left: auto;
  margin-right: auto;
  /* width: fit-content; */
  padding-left: 3em;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .nav-link {
  /* padding: .25rem 0; */
  border-bottom: .25rem solid transparent;
}
.navbar .active .nav-link {
  border-bottom-color: #fff;
}
.nav-item .nav-link {
  margin-left: 1rem;
}
.navbar .nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, .25);
}
.fixed-top {
  /* left: auto;
  right: auto; */
  transition:background-color 200ms linear; 
}
.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
.fixed-top.scrolled .active .nav-link {
  border-bottom-color: #555;
}
.navbar.scrolled .nav-link:hover {
  border-bottom-color: rgb(161, 161, 161);
}


/* .show {
  background-color: yellow;
} */
.dropdown-menu {
  background-color: white;
  color: whitesmoke;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding-left: 1em;
  padding-right: 1em;
}



.jumbotron {
  background-color: transparent;
}